body {
background-image: url(skulls/skulls.png);

}


.conteneur {
	display: inline-block;
    width: 100%;
    max-width: 960px;
    padding : 10px;
    margin: 15px;
    border-radius: 10px;
    margin-left:25%; 
    
}


h1, h3 {
    font-family: "Pacifico", cursive;
    text-align: center;
    }

header {
 text-align:left;
 vertical-align: top;
}

header .conteneur {
	background-image: url(footer_lodyas/footer_lodyas.png);
}

header h1 {
	margin-top: 20px;
	font-size: 3em;
}

header h3 {
	font-size: 2em;
}


header img {
	position: absolute;
	margin-right: 20px;
    width: 120px;
 top: 20px;
  
}

main .conteneur {
		background-image: url(cartographer/cartographer.png);
}

article {
 display: inline-block;
     position:relative; 
     vertical-align: top;
     text-align: justify;
     font-size: 60%;
     color: white;
    
}

footer .conteneur {
		background-image: url(binding_dark/binding_dark.png);
}

footer #adresse p {
		display: inline-block;
}
#adresse {
		float: left;
		width: 50%;
		margin-right: 30px;
		
}
footer p {
		margin-left:30px;
		color: white;

}
